<nav class="navbar navbar-expand-sm navbar-dark bg-gradient">
  <div class="container-fluid">

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars fa-1x"></span>
    </button>
    
<a class="navbar-brand" href="/">
      <img src="<%= avatar %>" width="30" height="30" class="d-inline-block align-text-center logo-img">
      <%= name %>
    </a>
    
<div class="collapse navbar-collapse" id="navbarSupportedContent">

      
      
<ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/commands">Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= bot.invite %>">Invite</a>
        </li>
      </ul>
    </div>
  </div>
</nav>